{% extends 'base.html' %}
{% block content %}
    
<form action="/suppliers" method="post" id="new-supplier">
  
    <label for="name">Add name</label>
    <textarea name="name" id="name" cols="30" rows="1"></textarea>

    <label for="total_orders">Add total orders</label>
    <textarea name="total_orders" id="total_orders" cols="30" rows="1"></textarea>

    <label for="pending_orders">Add pending orders</label>
    <textarea name="pending_orders" id="pending_orders" cols="30" rows="1"></textarea>

    <label for="outstanding_balance">Add outstanding balance</label>
    <textarea name="outstanding_balance" id="outstanding_balance" cols="30" rows="1"></textarea>

    <label for="telephone_number">Add telephone number</label>
    <textarea name="telephone_number" id="telephone_number" cols="30" rows="1"></textarea>

    <label for="address">Add address</label>
    <textarea name="address" id="address" cols="30" rows="1"></textarea>

    <button type="submit">Add New Supplier</button>
</form>
{% endblock content %}