{% extends 'base.html' %}
{% block content %}
    

<form action="/suppliers/{{supplier.id}}" method="post">
  
    <label for="name">Change name</label>
    <textarea name="name" id="name" cols="30" rows="1"></textarea>

    <label for="total_orders">Change total orders</label>
    <textarea name="total_orders" id="total_orders" cols="30" rows="1"></textarea>

    <label for="pending_orders">Change pending orders</label>
    <textarea name="pending_orders" id="pending_orders" cols="30" rows="1"></textarea>

    <label for="outstanding_balance">Change outstanding balance</label>
    <textarea name="outstanding_balance" id="outstanding_balance" cols="30" rows="1"></textarea>

    <label for="telephone_number">Change telephone number</label>
    <textarea name="telephone_number" id="telephone_number" cols="30" rows="1"></textarea>

    <label for="address">Change address</label>
    <textarea name="address" id="address" cols="30" rows="1"></textarea>

    <button type="submit">Edit</button>
</form>
{% endblock content %}