{% extends 'base.html' %}
{% block content %}
<p class="btn">
    <a href="/manufacturers/new">New manufacturer</a>
</p>
<table>
    <tr>
        <th><b>Name</b></th>
        <th>Telephone Number</th>
        <th>Address</th>
    </tr>
    {% for manufacturer in manufacturers %}
    <tr>
        <td>{{ manufacturer.name }}</td>
        <td>{{ manufacturer.telephone_number }}</td>
        <td>{{ manufacturer.address }}</td>
        <td><a href="/manufacturers/{{manufacturer.id}}/edit">Edit</a></td>
    {% endfor %}
    </tr>
</table>
{% endblock content %}