body{
    background-image: url(images/wallnuts.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    size: cover;
}
head{
    background-color: red;
    
}
table{
    margin-left: auto;
    margin-right: auto;
}