body{
    background-image: url(images/wallnuts.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    background-position:50%;
    background-position: center;
    background-size: relative;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    size: cover;
}