html{
    background-image: url(images/wallnuts.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    size: cover;
}
header{
    background-color:rgba(255, 0, 0, 0.815);
    padding: 1%;
    text-decoration: none; 
}

table{
    margin-left: auto;
    margin-right: auto;
}
a:visited{
    text-decoration-style:none;
    color: black;
}
a{
    text-decoration-style:none;
    color: black;
}
#vertical-navbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
#vertical-navbar>ul>li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.main_products{
    display: flex;
    flex-wrap: wrap;
}