{% extends 'base.html' %}
{% block content %}
    <h1 id="home-title">Grampa's Nuts</h1>
    <div id="vertical-navbar-home" class="main_products">
        <nav>
            <label id="turn-white" for="main-index-nav">Product Categories</label>
            <ul id="main-index-nav">
                {% for product_category in product_categories %}
                <li>
                    <a href="/product_categories/{{product_category.id}}/show">{{ product_category.name }}</a>  
                </li>
                {% endfor %} 
{% endblock content %}